* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram_wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram_phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.instagram_phone img {
    background-size: 454px 618px;
    margin-left: -35px;
    margin-right: -15px;
    height: 780px;
}

.instagram_continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: center; /* vertical */
    flex-direction: column;
    border-radius: 1px;
    margin-bottom: 0;
    margin: 0 0 10px;
    padding: 10px 0;
    margin-top: 12px;
    max-width: 350px;
}

.group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 10px 0;
    border: 1px solid lightgray;
    border-radius: 1px;
    margin: 0 0 10px;
}
.group:nth-child(1) {
    min-height: 19rem;
}

.instagram_logo {
    margin: 22px auto 12px;
    height: 51px;
    width: 175px;
}

.profile_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 75%;
    overflow: hidden;
    height: auto;
    margin: 10px auto 10px;
    width: auto;
}
.profile_photo img {
    height: 150px;
}

.instagram_login {
    display: flex;
    background-color: #0095f6;
    color: #ffffff;
    padding: 5px;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
    justify-content: flex-start;
    align-content: stretch;
    border-radius: 4px;
}

.instagram_logout {
    margin: 15px 0;
    padding: 0 40px;
    display: flex;
    align-items: stretch;
    color: #0095f6;
    margin-top: 1rem;
    text-align: center;
}

.not_account {
    color: rgb(160, 160, 160);
}

.link_blue {
    color: #0095f6;
}

.get_the_app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}
.app_download {
    height: 15%;
    width: 150px;
    background-size: cover;
}

.app_download:nth-child(1) {
    background-image: url("./img/apple-button.png");
}

.app_download:nth-child(2) {
    background-image: url("./img/googlebutton.png");
}

/* media queries */

@media (max-width: 1024px) {
    .instagram_wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }
    .instagram_wrapper {
        width: 90%;
    }
    .instagram_phone {
        display: none;
    }
    .instagram_continue {
        width: 100%;
    }
    .group {
        border: 1px solid transparent;
    }
}